.multiselect {
  display: inline-block;
  width: 100% !important;
  height: 32px !important;
  min-height: 32px !important;
}

.multiselect__placeholder {
  display: inline-block !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
}

// error class on multiselect
.multiselect.invalid .multiselect__tags {
  border: 1px solid #f86c6b !important;
}

.multiselect__select {
  height: 32px !important;
}

// override default multiselect styles

.multiselect__tags {
  padding: 0px !important;
  min-height: 32px !important;
  height: fit-content !important;
  max-height: 58px !important;
  overflow: auto;
  &:hover {
    border: 1px solid $accent_color !important;
    cursor: text !important;
  }
}

.multiselect__tags-wrap {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: flex-start !important;
  align-items: center !important;
  //height: 32px !important;
  padding-left: 5px !important;
}

.multiselect__placeholder {
  margin-left: 10px;
  margin-top: 2px;
}

.multiselect__tag {
  background: #fff !important;
  border: 1px solid $accent_color !important;
  color: $accent_color !important;
  margin: 2px 0 !important;
  margin-right: 5px !important;
}

.multiselect__tag-icon:after {
  color: rgba(60, 60, 60, 0.5) !important;
}

.multiselect__tag-icon:after {
  color: rgba(60, 60, 60, 0.5) !important;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #f0f0f0 !important;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: $accent_color !important;
}

.multiselect__element {
  height: 32px;
  .multiselect__option {
    min-height: 32px !important;
    padding: 5px 5px !important;

    &--highlight {
      background: #f0f0f0 !important;
      color: #000 !important;
    }

    &--selected {
      background: #fff !important;
      color: $accent_color !important;
    }

    &.multiselect__option--highlight.multiselect__option--selected {
      background: $accent_color_transparent !important;
      color: $accent_color !important;
    }
  }
}
